input[type="file"] {
  display: none;
}

.img__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 15px;
}

.img__container .container {
  border: 10px dashed slategray;
  border-radius: 30px;
  width: 1700px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 20px 15px rgba(24, 13, 13, 0.4), 0 6px 6px rgba(0, 0, 0, 0.23);

}


#select {
  background-color: #f67280;
  border: #ffb0cd;
  width: 500px;
  height: 85px;
  border-radius: 20px;
  outline: none;
  font-size: 45px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  font-family: 'Love Ya Like A Sister', cursive;
}

#upload {
  background-color: #84a9ac;
  border: #cae8d5;
  overflow: hidden;
  width: 500px;
  height: 85px;
  border-radius: 20px;
  outline: none;
  font-size: 45px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  font-family: 'Love Ya Like A Sister', cursive;
}

#select:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #f8b195;
}

#upload:hover {
  background-color: #cae8d5;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#selected-img {
  display: none;
  height: 100%;
}

label:hover {
  cursor: pointer;
}

#btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin-top: 30px;
}

#detect-page {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}