@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap');
@import "reset.css";
@import "loading.css";
@import "error.css";
@import "main.css";
@import "result.css";

@font-face {
  font-family: omniGothic;
  src: url('/fonts/omniGothic.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Love Ya Like A Sister', cursive;
}

header {
  text-align: center;
  font-size: 100px;
  margin-top: 30px;
}