/* 이름이 중복되는 걱정을 안해도 된다! 그냥 사용하면 됨! */
.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  cursor: pointer;
}

.checkbox input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}
/* 커스텀 체크박스를 만드는 방법 중 하나이다. */

.checkbox span {
  font-size: 1.125rem;
  font-weight: bold;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-right: 0.25rem;
  color: #abd5bd;
}

.checked {
  color: #339af0;
}
