#main__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

#main__contents>.img__container {
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(24, 13, 13, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 500px;
  margin-top: 30px;
}

#selected-img {
  max-width: 95%;
  max-height: 95%;
}

#btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

img {
  cursor: pointer;
}

#camera-upload {
  font-size: 20px;
  font-weight: bold;
  width: 220px;
  height: 50px;
  border-radius: 12px;
  background: #FFFAF0;
  color: black;
  cursor: pointer;
}