#search__contents {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  margin-top: 0;
}

#recipe__search {
  width: 90%;
  height: 70px;
  max-width: 700px;
  padding-left: 10px;
  border-radius: 10px;
  border: 4px solid #576574;
  font-size: 20px;
  margin: 10px;
}

#recipe__category {
  width: 90%;
  max-width: 700px;
  background-color: #576574;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;
}

#recipe__types {
  width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #576574;
  border-radius: 10%;
  margin: 0 10px auto;
}

#recipe__type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.type__name {
  padding-bottom: 10px;
  width: 64px;
}


/*--start--메뉴 리스트 */
#menu__lists {
  width: 90%;
  max-width: 700px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  padding: 10px;
}

.about__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about__menu>h1 {
  font-size: 20px;
  font-weight: bold;
}

.about__menu>span {
  font-size: 17px;
}

.menu__list-image {
  width: 190px;
  height: 190px;
  border-radius: 5px;
}

/*--end--메뉴 리스트 */

/*--start-- pagination */
.pagination {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

/*--end-- pagination */