@font-face {
  font-family: omniGothic;
  src: url('/font/omniGothic.ttf');
}

#error__body {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfe6e9;
  margin-top: 80px;
  font-family: "omniGothic";
}

.back__link-btns {
  text-decoration: none;
  color: black;
}

#error__body>h1 {
  font-size: 5vmin;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  margin-top: 0;
}

.back-btn {
  background-color: #dff9fb;
  border-radius: 10px;
  border: 3px solid #dff9fb;
  opacity: 0.6;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.back-btn:hover {
  cursor: pointer;
  border: 3px solid #c7ecee;
  background-color: #c7ecee;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#back__link-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width:570px) {
  p {
    font-size: 15px;
    margin-top: 0;
  }

  .back-btn {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width:410px) {
  p {
    font-size: 10px;
    margin-top: 0;
  }

  .back-btn {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
}