body {
  font-family: "omniGothic";
  transition: background-color .5s;
  /* height: 150vh; */
}

#main__footer {
  text-align: center;

}

.main-logo {
  top: 0;
  height: 130px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  visibility: visible;
}

.main-logo2 {
  top: 0;
  height: 130px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  visibility: hidden;
}

#main__bg-one {
  border-radius: 20px;
  display: block;
  width: 80%;
  cursor: default;
  z-index: -1;
  transition: 1s;
}

#main__bg-two {
  border-radius: 20px;
  display: none;
  margin-top: 100px;
  width: 100%;
  cursor: default;
  z-index: -1;
  transition: 1s;
}


#main__container {
  /* border: 2px solid red; */
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main__contents {
  width: 100%;
  /* border: 2px solid green; */
}

/* --- Menu-bar --- */
.button {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  /* background: transparent; */
  border-radius: 0;
  height: 40px;
  width: 35px;
  cursor: pointer;
  pointer-events: auto;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  transition: .3s;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

.nav__icon>a {
  color: black;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 9px, 0) rotate(45deg);
}

/* #nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
} */

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -9px, 0) rotate(-45deg);
}

/* --- Menu-bar end--- */

#main__header {
  z-index: 800;
  top: 0;
  left: 0;
  right: 0;
  height: 118px;
  position: fixed;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-content: space-between;
  background: antiquewhite;
  align-items: center;

}

#main__contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1px;
}

#main__footer {
  /* border: solid 2px black; */
  margin-top: 5px;
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__icon {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.nav__icon>span:hover {
  font-weight: bold;
}

.nav__icon>a:hover {
  font-weight: bold;
}

.nav__icon+.nav__icon+.nav__icon+.nav__icon {
  margin-right: 30px;
}

/* 햄버거메뉴 오픈 시 사이드 네비 */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f6;
}

.sidenav a {
  margin-top: 50px;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.5s;
  font-weight: bold;
}

.sidenav>.nav-menu-4 {
  cursor: pointer;
}

.sidenav>.closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 45px;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*---end--- 햄버거메뉴 오픈 시 사이드 네비 */
.closebtn:hover {
  color: red;
  cursor: pointer;
}

.nav-menu-1:hover {
  color: lightskyblue;
}

.nav-menu-2:hover {
  color: palegoldenrod;
}

.nav-menu-3:hover {
  color: lightseagreen;
}

.nav-menu-4:hover {
  color: salmon;
}

.nav-menu-5:hover {
  color: cornflowerblue;
}

.nav-menu-6:hover {
  color: mediumvioletred;
}

#nav-container {
  padding-left: 30px;
}

#main-page {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#bg {
  position: absolute;
  top: 119px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}