#result-recipe__container {
  background-color: #fffdf9;
  border: 10px solid #fffdf9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(24, 13, 13, 0.4);
  max-width: 800px;
}

#result-recipe-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#result-img {
  width: 100%;
  max-width: 500px;
  max-height: 400px;
  border-radius: 10px;
  margin: auto;
}

.recipeTitle {
  border-bottom: 5px solid #21243d;
  border-radius: 30%;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  padding: 0px 15px 5px;
  width: 100%;
  line-height: 45px;
}

.recipeDescription {
  /* border: 1px solid black; */
  font-size: 20px;
  text-align: center;
  padding: 0 10px;
  margin-top: 30px;
  color: grey;
  line-height: 28px;
}

#recipe-info {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}


#serving-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#serving-info>img {
  margin-bottom: 10px;
  width: 50px;
}

#time-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#time-info>img {
  margin-bottom: 10px;
  width: 50px;
}

#difficulty-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#difficulty-info>img {
  margin-bottom: 10px;
  width: 50px;
}

#ingredients-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  padding: 20px 25px;
  font-size: 20px;
  /* border: 1px solid #576574; */
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(24, 13, 13, 0.2);
  width: 90%;
}

#main-ingredients-info {
  padding-bottom: 10px;
  margin-top: 5px;
  line-height: 25px;
}

#minor-ingredients-info {
  line-height: 25px;
}

#recipe-steps-header {
  border-radius: 10px;
  background-color: #576574;
  padding: 15px 20px;
  margin-top: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  box-shadow: 0 5px 10px rgba(24, 13, 13, 0.3);
}

#recipe__steps {
  width: 100%;
}

#recipe-steps-info {
  padding: 10px 15px;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-steps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #576574;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.recipe-steps>img {
  width: 200px;
  border-radius: 5px;
  margin-left: 30px;
}

.cook-Step {
  font-size: 20px;
  line-height: 25px;
}

.step-Number {
  font-weight: bold;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#steps-end {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}