.signUp__layout {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp__layout-form {
  width: 650px;
  margin-top: 50px;
  padding-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#signUp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#signUp-form>h1 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 40px;
}

#signUp-form>input {
  height: 50px;
  width: 90%;
  margin-bottom: 15px;
  border-radius: 15px;
}

#signUp-form>button {
  height: 50px;
  width: 90%;
  min-width: 50%;
  margin-bottom: 15px;
  border-radius: 15px;
}

#email-id {
  border: none;
  padding-left: 20px;
  font-size: 20px;
  background-color: aliceblue;
}

#name {
  border: none;
  padding-left: 20px;
  font-size: 20px;
  background-color: aliceblue;
}

#email-password,
#email-password-check {
  border: none;
  padding-left: 20px;
  font-size: 20px;
  background-color: aliceblue;
}

#signUp-button {
  color: white;
  border: none;
  font-size: 25px;
  background-color: salmon;
}

#signUp-button:hover {
  cursor: pointer;
  background-color: #e55039;
}

input::placeholder {
  color: rgb(0, 0, 0, 0.3);
  font-weight: bold;
}

#google-signUp-btn {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  background-color: lightskyblue;
}

#google-signUp-btn:hover {
  cursor: pointer;
  background-color: darkturquoise;
}

#go-to-login {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px;
}

#go-to-login>a {
  font-weight: bold;
  color: dodgerblue;
}

#go-to-login>a:hover {
  color: blue;
}

#user-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#signUp-form>p {
  font-size: 22px;
  text-align: center;
}


#signUp-check {
  width: 85%;
  font-size: 18px;
  margin-bottom: 15px;
}

#signUp-form>p+p {
  margin-top: 0;
}



/*--start--이용약관 및 개인정보취급방침 모달*/

.policy__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
}


#policy-modal__open {
  cursor: pointer;
  color: blue;
}

#policy-modal__open:hover {
  font-weight: bold;
}

#policy-modal__close {
  cursor: pointer;
  font-size: 30px;
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#policy-modal__close:hover {
  font-weight: bold;
}

.privacy__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: white;
  padding: 50px 100px;
  text-align: center;
  position: relative;
  top: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.hidden {
  display: none;
}

#privacy-modal__open {
  cursor: pointer;
  color: blue;
}

#privacy-modal__open:hover {
  font-weight: bold;
}

.modal__content>h1 {
  width: 400px;
  font-size: 30px;
}

#privacy-modal__close {
  cursor: pointer;
  font-size: 30px;
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#privacy-modal__close:hover {
  font-weight: bold;
}

/*--end--이용약관 및 개인정보취급방침 모달*/