@import "reset.css";
@import "main.css";
@import "logIn.css";
@import "signUp.css";
@import "camera.css";
@import "resultList.css";
@import "resultCheck.css";
@import "resultRecipe.css";
@import "search.css";
@import "bookmark.css";

@font-face {
  font-family: omniGothic;
  src: url("/font/omniGothic.ttf");
}

* {
  font-family: "omniGothic";
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: white;
}

@media (max-width: 1550px) {
  #main__bg-one {
    margin-top: 30px;
    width: 90%;
  }
}

@media (max-width: 1350px) {
  #main__bg-one {
    margin-top: 50px;
  }

  #main__bg-one {
    margin-top: 80px;
    width: 90%;
  }
}

@media (max-width: 1260px) {
  .bookmark-content-lists {
    height: 80%;
  }

  .nav__nav-column>.nav__icon>a>span {
    display: none;
  }

  .nav__icon>span {
    display: none;
  }


  #main__bg-one {
    margin-top: 80px;
    width: 90%;
  }

  .menu__list-image {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 1024px) {
  #main__contents>.img__container {
    width: 450px;
    height: 400px;
  }

  #main__bg-one {
    display: none;
  }

  #main__bg-two {
    display: block;
    width: 90%;
  }
}

@media (max-width: 835px) {
  .ingredients-types {
    width: 130px;
  }

  .ingredients-types>input {
    width: 100px;
  }

  .info {
    font-size: 18px;
  }

  .info-delete-btn {
    font-size: 20px;
  }

  #result-main {
    max-width: 720px;
  }
}

@media (max-width: 680px) {
  .ingredients-types {
    width: 120px;
  }

  .ingredients-types>input {
    width: 90px;
  }

  .info {
    font-size: 14px;
  }

  .info-delete-btn {
    font-size: 16px;
  }

  #result-main {
    max-width: 530px;
  }

  #info-plus-btn {
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding-top: 0.5px;
  }

  #main__bg-two {
    display: block;
    width: 100%;
  }

  .login__layout-form {
    margin-top: 5px;
  }

  #login-form>h1 {
    font-size: 40px;
  }

  #main__header {
    height: 50px;
  }

  .main-logo {
    height: 50px;
    visibility: hidden;
  }

  .main-logo2 {
    top: 3px;
    height: 40px;
    visibility: visible;
  }

  #main__container {
    margin-top: 80px;
  }

  .nav__icon+.nav__icon+.nav__icon+.nav__icon {
    margin-right: 15px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 13px;
  }

  #signUp-form>h1 {
    font-size: 40px;
  }

  #signUp-form>p {
    font-size: 20px;
  }

  #email-id,
  #email-password,
  #email-password-check,
  #name {
    border: none;
    padding-left: 15px;
    font-size: 15px;
    background-color: aliceblue;
  }

  #main__contents>.img__container {
    width: 400px;
    height: 350px;
  }

  .icon-bar {
    width: 30px;
    height: 3.2px;
  }

  #nav-container {
    padding-left: 20px;
  }

  #bg {
    top: 51px;
  }

  .cook-Step {
    font-size: 15px;
    line-height: 19px;
  }

  .cook-Step>.step-Number {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 0;
  }

  .recipe-steps>img {
    max-width: 150px;
    max-height: 200px;
  }

  .main-ingredients-info {
    font-size: 17px;
  }

  .minor-ingredients-info {
    font-size: 17px;
  }

  #result-img {
    width: 80%;
  }

  .recipeTitle {
    font-size: 25px;
  }

  .recipeDescription {
    font-size: 14px;
  }

  #serving-info>img {
    width: 40px;
  }

  #serving-info>span {
    font-size: 13px;
  }

  #time-info>img {
    width: 40px;
  }

  #time-info>span {
    font-size: 13px;
  }

  #difficulty-info>img {
    width: 40px;
  }

  #difficulty-info>span {
    font-size: 13px;
  }

  .main-ingredients-info {
    font-size: 14px;
  }

  .minor-ingredients-info {
    font-size: 14px;
  }

  .cook-Step {
    font-size: 14px;
  }

  #ingredients-infos {
    margin-top: 40px;
    padding: 15px 20px;
  }

  #recipe-steps-header {
    font-size: 20px;
    padding: 10px 15px;
  }
}

@media (max-width: 550px) {
  .ingredients-types {
    width: 100px;
  }

  .ingredients-types>input {
    width: 85px;
  }

  .info {
    font-size: 13px;
  }

  .info-delete-btn {
    font-size: 15px;
  }

  #recipe__search {
    height: 50px;
    font-size: 15px;
  }

  #recipe__category {
    height: 30px;
    padding: 7px 10px;
    font-size: 17px;
  }

  .type__name {
    width: 50px;
    font-size: 50px;
  }

  #recipe__type {
    font-size: 14px;
  }

  .about__menu>h1 {
    font-size: 16px;
    line-height: 22px;
  }

  .about__menu>span {
    font-size: 10px;
  }

  .pagination {
    width: 300px;
    font-size: 12px;
    text-align: center;
    align-items: center;
  }

  .pagination a {
    padding: 5px 10px;
  }

  .recipe-img-container {
    width: 120px;
    height: 120px;
  }

  .recipe-img-cover {
    width: 120px;
    height: 120px;
  }

  .menu__list-image {
    width: 120px;
    height: 120px;
  }

  #recipe-main-ingredients {
    font-size: 12px;
    margin-top: 0px;
    line-height: 16px;
  }

  #recipe-main-ingredients>span {
    font-size: 13px;
  }

  #recipe-minor-ingredients {
    font-size: 12px;
    margin-top: 0px;
    line-height: 16px;
  }

  #recipe-minor-ingredients>span {
    font-size: 13px;
  }

  .bm-img-cover {
    width: 30px;
  }

  .bm-img-cover>img {
    width: 30px;
  }

  #ingredients-infos {
    margin-top: 40px;
    padding: 15px 20px;
  }
}

@media (max-width: 480px) {
  #result-header {
    font-size: 28px;
  }

  #camera-upload {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }

  #next-btn {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }

  #result-main {
    width: 380px;
  }

  #result__info {
    padding-left: 15px;
  }

  #recipe-steps-header {
    font-size: 16px;
    padding: 10px 15px;
  }

  #main__contents>.img__container {
    width: 350px;
    height: 300px;
  }

  #signUp-form>h1 {
    font-weight: bold;
    font-size: 30px;
  }

  #signUp-form>p {
    font-size: 15px;
  }

  #signUp-form>button {
    font-size: 20px;
  }

  #signUp-check {
    font-size: 15px;
  }

  #user-help>span {
    font-size: 20px;
  }

  #ingredients-infos {
    margin-top: 40px;
    padding: 15px 20px;
  }

  #main-ingredients-info {
    padding-bottom: 5px;
    line-height: 16px;
  }

  #minor-ingredients-info {
    line-height: 16px;
  }

  .recipeTitle {
    font-size: 22px;
    line-height: 27px;
  }

  .recipeDescription {
    line-height: 20px;
  }

  .main-ingredients-info>span {
    font-size: 13px;
  }

  .main-ingredients-info {
    font-size: 12px;
  }

  .minor-ingredients-info>span {
    font-size: 13px;
  }

  .minor-ingredients-info {
    font-size: 12px;
  }

  #serving-info>img {
    width: 35px;
  }

  #serving-info>span {
    font-size: 12px;
  }

  #time-info>img {
    width: 35px;
  }

  #time-info>span {
    font-size: 12px;
  }

  #difficulty-info>img {
    width: 35px;
  }

  #difficulty-info>span {
    font-size: 12px;
  }

  .recipe-steps>img {
    max-width: 120px;
    max-height: 200px;
  }

  .cook-Step {
    font-size: 12px;
  }

  #step-Number {
    font-size: 15px;
  }

  #steps-end {
    font-size: 16px;
  }

  #login-form>h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  #next-btn {
    width: 180px;
    font-size: 15px;
    height: 40px;
  }

  #camera-upload {
    width: 180px;
    height: 40px;
    font-size: 15px;
  }

  #login-form>h1 {
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: 20px;
  }

  #signUp-form>input {
    font-size: 13px;
  }

  #signUp-form>h1 {
    font-size: 30px;
  }

  #signUp-form>p {
    font-size: 15px;
  }

  #signUp-check {
    font-size: 14px;
  }

  #login-button,
  #google-login-btn,
  #google-signUp-btn,
  #password-find,
  #go-to-signUp {
    font-size: 15px;
  }

  #user-help {
    width: 100%;
  }

  #user-help>span {
    width: 100%;
    font-size: 20px;
  }

  #user-help>a {
    width: 100%;
    font-size: 20px;
  }

  .main-logo2 {
    top: 7px;
    height: 30px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 7px;
  }

  body>#main__container {
    margin-top: 60px;
    padding-top: 0;
  }

  .login__layout-form {
    margin-top: 5px;
  }

  #google-signUp-btn>span {
    width: 130px;
    margin-left: -7px;
  }

  #main__header>nav-container>.button>.icon-bar {
    width: 10%;
    width: 10px;
  }

  .recipeTitle {
    font-size: 17px;
    line-height: 22px;
  }

  .recipeDescription {
    font-size: 12px;
    line-height: 17px;
  }

  #serving-info>img {
    width: 30px;
  }

  #serving-info>span {
    font-size: 11px;
  }

  #time-info>img {
    width: 30px;
  }

  #time-info>span {
    font-size: 11px;
  }

  #difficulty-info>img {
    width: 30px;
  }

  #difficulty-info>span {
    font-size: 11px;
  }

  .main-ingredients-info {
    font-size: 11px;
  }

  .main-ingredients-info>span {
    font-size: 12px;
  }

  .minor-ingredients-info {
    font-size: 11px;
  }

  .minor-ingredients-info>span {
    font-size: 12px;
  }

  #recipe-steps-header {
    font-size: 16px;
    padding: 10px 15px;
  }

  #result-main {
    width: 100%;
  }

  #result__info {
    padding-right: 0;
  }
}

@media (max-width: 380px) {
  #result-main {
    width: 100%;
  }

  #result__info {
    padding-left: 0;
  }

  .ingredients-types {
    width: 90px;
  }

  .ingredients-types>input {
    width: 60px;
  }

  .info {
    font-size: 11px;
  }

  .info-delete-btn {
    font-size: 16px;
  }

  #main__contents>.img__container {
    width: 250px;
    height: 200px;
  }

  .icon-bar {
    width: 25px;
    height: 3px;
  }

  #nav-container {
    padding-left: 10px;
  }

  #signUp-form>button {
    font-size: 15px;
  }

  #signUp-form>h1 {
    font-size: 25px;
    font-weight: bold;
  }

  #signUp-form>p {
    font-size: 12px;
  }

  #signUp-check {
    font-size: 12px;
  }

  #login-button {
    font-size: 15px;
  }

  #google-signUp-btn>span {
    font-size: 15px;
  }

  #user-help>#go-to-login {
    font-size: 15px;
  }

  #user-help>span {
    font-size: 15px;
  }

  #signUp-form>input {
    font-size: 10px;
  }

  #google-login-btn {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #google-login-btn>img {
    width: 13px;
    margin-right: 5px;
  }

  #policy-modal__close {
    top: 15px;
    right: 50px;
  }

  #privacy-modal__close {
    top: 15px;
    right: 50px;
  }

  .recipe-img-container {
    width: 100px;
    height: 100px;
  }

  .recipe-img-cover {
    width: 100px;
    height: 100px;
  }

  .menu__list-image {
    width: 100px;
    height: 100px;
  }

  .about__menu>h1 {
    font-size: 13px;
    line-height: 16px;
  }

  #recipe-main-ingredients {
    font-size: 10px;
    margin-top: 0px;
    line-height: 16px;
  }

  #recipe-main-ingredients>span {
    font-size: 11px;
  }

  #recipe-minor-ingredients {
    font-size: 10px;
    margin-top: 0px;
    line-height: 16px;
  }

  #recipe-minor-ingredients>span {
    font-size: 11px;
  }

  #next-btn {
    width: 180px;
    font-size: 15px;
    height: 40px;
  }

  #camera-upload {
    width: 180px;
    height: 40px;
    font-size: 15px;
  }

  #cook-Step {
    font-size: 11px;
    line-height: 16px;
  }

  #steps-end {
    font-size: 14px;
  }
}