// 변수를 사용할 때는 $표시를 사용한다.
$blue: #228be6;

.Button {
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  height: 2.25rem;
  // 현재 브라우저 페이지의 기본폰트 사이즈에 기반하여 사이즈가 조정된다.
  // 크롬은 기본 16px, 2.25rem이면 둘을 곱하면 36px이된다.
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;

  background: $blue;
  &:hover {
    background: lighten($blue, 10%);
  }
  &:active {
    background: darken($blue, 10%);
  }
}
