<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <tr>
        <td>&nbsp;</td>
        <td>
        <label>일시: </label><br><br/>
        </td>
        <td>&nbsp;</td>
        <td>
        <label>메모: </label><br><br/>
        </td>
        <td>&nbsp;</td>
        <td>
        <label>알림: </label><br><br/>
        </td>
    </tr>


</body>

</html>