body {
  background-color: #fdfdfd;
  font-family: 'Poor Story', cursive;
  transition: background-color .5s;
  height: 150vh;
}

.main-logo {
  /* visibility: visible; */
  top: 0;
  height: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#main__container {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main__contents {
  border: 2px solid red;
  width: 100%;
}

/* --- Menu-bar --- */
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 40px;
  width: 35px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  transition: .3s;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

.nav__icon>a {
  color: black
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

/* --- Menu-bar end--- */

#main__header {
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  position: fixed;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-content: space-between;
  background: #FDFDFD;
  align-items: center;
}

#main__contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1px;
}

#main__footer {
  margin-top: 5px;
  border: solid 2px black;
  height: 125px;
  width: 100%;
}

.nav__icon {
  font-size: 25px;
  margin-left: 30px;
}

.nav__icon>a:hover {
  color: darkcyan;
  font-weight: bold;
}

.nav__icon+.nav__icon+.nav__icon+.nav__icon {
  margin-right: 30px;
}

/* 햄버거메뉴 오픈 시 사이드 네비 */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.sidenav a {
  margin-top: 50px;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.5s;
  font-weight: bold;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*---end--- 햄버거메뉴 오픈 시 사이드 네비 */
.closebtn:hover {
  color: red;
  cursor: pointer;
}

.nav-menu-1:hover {
  color: lightskyblue;
}

.nav-menu-2:hover {
  color: palegoldenrod;
}

.nav-menu-3:hover {
  color: lightseagreen;
}

.nav-menu-4:hover {
  color: salmon;
}

.nav-menu-5:hover {
  color: cornflowerblue;
}

.nav-menu-6:hover {
  color: mediumvioletred;
}

.sidenav {
  pointer-events: auto;
}