.result__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result__img-container {
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(24, 13, 13, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 550px;
  height: 500px; */
  margin-top: 30px;
}

#result-main {
  width: auto;
  max-width: 700px;
}

#result__img {
  max-width: 95%;
  max-height: 95%;
}

#result-header {
  text-align: center;
  font-size: 40px;
  font-weight: 600px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  border-radius: 10%;
}

#result__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info {
  padding: 5px;
  font-size: 30px;
  margin-left: 20px;
  display: flex;
  border: 2px solid red;
  border-radius: 30px;
  margin-bottom: 10px;
}

.info-close-btn {
  font-size: 40px;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 5px;
}

.info-close-btn:hover {
  font-weight: bold;
}

#info-plus-btn {
  font-size: 40px;
  cursor: pointer;
  border: 2px dashed blue;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 20px;
  padding-top: 7px;
  padding-left: 8px;
  height: 50px;
  width: 45px;
}

#info-plus-btn:hover {
  font-weight: bold;
  border: 2px solid blue;
}

#next-btn {
  font-size: 20px;
  font-weight: bold;
  width: 220px;
  height: 50px;
  border-radius: 12px;
  background: #FFFAF0;
  color: black;
  cursor: pointer;
}

li>span {
  padding-top: 7px;
  padding-left: 5px;
}



#plus__text {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}