@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap&subset=korean');

@import "reset.css";
@import "main.css";
@import "logIn.css";
@import "signUp.css";

* {
  font-family: 'Poor Story', cursive;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fdfdfd;
}

@media (max-width:1260px) {
  .nav__nav-column>.nav__icon>a>span {
    display: none;
  }
}

@media (max-width:680px) {
  .login__layout-form {
    margin-top: 5px;
  }

  #login-form>h1 {
    font-size: 40px;
  }

  #main__header {
    height: 50px;
  }

  .main-logo {
    height: 50px;
    visibility: hidden;
  }

  .main-logo2 {
    top: 3px;
    height: 40px;
    visibility: visible;
  }

  #main__container {
    padding-top: 45px;
  }

  .nav__icon+.nav__icon+.nav__icon+.nav__icon {
    margin-right: 15px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 13px;
  }

  #signUp-form>h1 {
    font-size: 40px;
  }

  #signUp-form>p {
    font-size: 20px;
  }

  #email-id,
  #email-password,
  #email-password-check {
    border: none;
    padding-left: 15px;
    font-size: 15px;
    background-color: aliceblue;
  }
}

@media (max-width:400px) {
  #login-form>h1 {
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: 20px;
    width: 160px;
  }

  #signUp-form>input {
    font-size: 13px;
  }

  #signUp-form>h1 {
    font-size: 30px;
  }

  #signUp-form>p {
    font-size: 15px;
  }

  #signUp-check {
    font-size: 14px;
  }

  #login-button,
  #google-login-btn,
  #google-signUp-btn,
  #password-find,
  #go-to-signUp {
    font-size: 20px;
  }

  #google-login-btn>span {
    width: 120px;
    margin-left: -8px;
  }

  #password-find>span {
    width: 200px;
  }

  #go-to-signUp>span {
    width: 120px;
  }

  #user-help {
    width: 100%;
  }

  #user-help>span {
    width: 100%;
    font-size: 20px;
  }

  #user-help>a {
    width: 100%;
    font-size: 20px;
  }

  .main-logo2 {
    top: 7px;
    height: 30px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 7px;
  }

  #main__container {
    margin-top: 50px;
    padding-top: 0;
  }

  .login__layout-form {
    margin-top: 5px;
  }


  #google-signUp-btn>span {
    width: 130px;
    margin-left: -7px;
  }

  #main__header>nav-container>.button>.icon-bar {
    width: 10%;
    width: 10px;
  }

}