@import "reset.css";
@import "main.css";
@import "logIn.css";
@import "signUp.css";
@import "camera.css";
@import "search.css";

@font-face {
  font-family: omniGothic;
  src: url('/font/omniGothic.ttf');
}

* {
  font-family: "omniGothic";
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fdfdfd;
}

@media (max-width:1550px) {
  #main__bg-one {
    margin-top: 30px;
    width: 90%;
  }
}

@media (max-width:1350px) {
  #main__bg-one {
    margin-top: 50px;
  }

  #main__bg-one {
    margin-top: 80px;
    width: 90%;
  }
}

@media (max-width:1260px) {
  .nav__nav-column>.nav__icon>a>span {
    display: none;
  }

  #main__bg-one {
    margin-top: 80px;
    width: 90%;
  }
}

@media(max-width:1024px) {
  #main__contents>.img__container {
    width: 450px;
    height: 400px;
  }

  #main__bg-one {
    display: none;
  }

  #main__bg-two {
    display: block;
    width: 90%;
  }
}

@media (max-width:680px) {
  #main__bg-two {
    display: block;
    width: 100%;
  }

  .login__layout-form {
    margin-top: 5px;
  }

  #login-form>h1 {
    font-size: 40px;
  }

  #main__header {
    height: 50px;
  }

  .main-logo {
    height: 50px;
    visibility: hidden;
  }

  .main-logo2 {
    top: 3px;
    height: 40px;
    visibility: visible;
  }

  #main__container {
    margin-top: 80px;
  }

  .nav__icon+.nav__icon+.nav__icon+.nav__icon {
    margin-right: 15px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 13px;
  }

  #signUp-form>h1 {
    font-size: 40px;
  }

  #signUp-form>p {
    font-size: 20px;
  }

  #email-id,
  #email-password,
  #email-password-check {
    border: none;
    padding-left: 15px;
    font-size: 15px;
    background-color: aliceblue;
  }

  #main__contents>.img__container {
    width: 400px;
    height: 350px;
  }

  .icon-bar {
    width: 30px;
    height: 3.2px;
  }

  #nav-container {
    padding-left: 20px;
  }

}

@media (max-width:550px) {
  #recipe__search {
    height: 50px;
    font-size: 15px;
  }

  #recipe__category {
    height: 30px;
    padding: 7px 10px;
    font-size: 17px;
  }

  .type__name {
    width: 50px;
    font-size: 50px;
  }

  #recipe__type {
    font-size: 14px;
  }

  .menu__list-image {
    width: 80px;
    height: 80px;
  }

  .about__menu>h1 {
    font-size: 12px;
  }

  .about__menu>span {
    font-size: 10px;
  }

  .pagination {
    width: 300px;
    font-size: 12px;
    text-align: center;
    align-items: center;
  }

  .pagination a {
    padding: 5px 10px;
  }
}

@media (max-width:480px) {
  #main__contents>.img__container {
    width: 350px;
    height: 300px;
  }

  #signUp-form>h1 {
    font-weight: bold;
    font-size: 35px;
  }

  #signUp-form>p {
    font-size: 15px;
  }

  #signUp-form>button {
    font-size: 20px;
  }

  #signUp-check {
    font-size: 15px;
  }

  #user-help>span {
    font-size: 20px;
  }
}

@media (max-width:400px) {
  #login-form>h1 {
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: 20px;
  }

  #signUp-form>input {
    font-size: 13px;
  }

  #signUp-form>h1 {
    font-size: 30px;
  }

  #signUp-form>p {
    font-size: 15px;
  }

  #signUp-check {
    font-size: 14px;
  }

  #login-button,
  #google-login-btn,
  #google-signUp-btn,
  #password-find,
  #go-to-signUp {
    font-size: 20px;
  }

  #google-login-btn>span {
    margin-left: -8px;
  }

  #user-help {
    width: 100%;
  }

  #user-help>span {
    width: 100%;
    font-size: 20px;
  }

  #user-help>a {
    width: 100%;
    font-size: 20px;
  }

  .main-logo2 {
    top: 7px;
    height: 30px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 7px;
  }

  body>#main__container {
    margin-top: 60px;
    padding-top: 0;
  }

  .login__layout-form {
    margin-top: 5px;
  }

  #google-signUp-btn>span {
    width: 130px;
    margin-left: -7px;
  }

  #main__header>nav-container>.button>.icon-bar {
    width: 10%;
    width: 10px;
  }

}

@media (max-width: 380px) {
  #main__contents>.img__container {
    width: 250px;
    height: 200px;
  }

  .icon-bar {
    width: 25px;
    height: 3px;
  }

  #nav-container {
    padding-left: 10px;
  }

  #signUp-form>button {
    font-size: 15px;
  }

  /*  */
  #signUp-form>h1 {
    font-size: 25px;
    font-weight: bold;
  }

  #signUp-form>p {
    font-size: 12px;
  }

  #signUp-check {
    font-size: 12px;
  }

  #login-button {
    font-size: 15px;
  }

  #google-signUp-btn>span {
    font-size: 15px;
  }

  #user-help>#go-to-login {
    font-size: 15px;
  }

  #user-help>span {
    font-size: 15px;
  }

  #signUp-form>input {
    font-size: 10px;
  }

  #google-login-btn {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #google-login-btn>img {
    width: 13px;
    margin-right: 5px;
  }

  #policy-modal__close {
    top: 15px;
    right: 50px;
  }

  #privacy-modal__close {
    top: 15px;
    right: 50px;
  }
}