@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap&subset=korean');

@import "reset.css";
@import "main.css";
@import "logIn.css";
@import "signUp.css";

* {
  font-family: 'Poor Story', cursive;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fdfdfd;
}

@media (max-width:1260px) {
  .nav__nav-column>.nav__icon>a>span {
    display: none;
  }
}

@media (max-width:680px) {

  #login-form>h1 {
    font-size: 40px;
  }

  #main__header {
    height: 50px;
  }

  .main-logo {
    height: 50px;
  }

  #main__container {
    padding-top: 70px;
  }

  .nav__icon+.nav__icon+.nav__icon+.nav__icon {
    margin-right: 20px;
  }

  .nav__icon {
    font-size: 15px;
    margin-left: 20px;
  }

  #signUp-form>h1 {
    font-size: 40px;
  }

  #signUp-form>p {
    font-size: 20px;
  }
}

@media (max-width:400px) {
  h1 {
    font-size: 25px;
    padding-top: 5px;
  }

  #signUp-form>input {
    font-size: 13px;
  }

  #signUp-form>h1 {
    font-size: 30px;
  }

  #signUp-form>p {
    font-size: 15px;
  }

  #signUp-check {
    font-size: 14px;
  }

  #login-button,
  #google-login-btn,
  #password-find,
  #go-to-signUp {
    font-size: 20px;
  }
}